@import "tailwindcss";
@plugin "daisyui";

/* Standard Tailwind v4 theme variables */
@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Base styles */
:root {
  background-color: white;
  color: black;
}

/* Ensure daisyUI doesn't get forced into dark mode by system settings yet */
[data-theme='light'] {
  color-scheme: light;
}
